
# ===========================================
#          R E Q U I R E M E N T S
# ===========================================

chesslib
tensorflow
numpy
requests
pandas

# TODO: find out explicit versions for each package